@charset "UTF-8";

/* Importação de fonte (Google Fontes) */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Definindo cores */
:root {
    --rosa: #fd91ba;
    --branco: #fff;
    --preto: #000;
    --rosé: #ffbac4;
    --vermelho: #bd3131;
    --rosachoque: #f869a0;
    --cinza: #e0759e;


}

.logo {
    width: 120px;
    height: auto;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */

html {
    /* rolagem suave do conteúdo */
    scroll-behavior: smooth;
}

body {
    font-family: "Exo 2", sans-serif;
    font-size: 1em;
    background-color: var(--rosé);
}

/*Ajuste de tamanho dos lados*/
.container {
    /* margin:  auto; centraliza o bloco*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    text-decoration: none;
    color: var(--rosé);
    font-size: 1.0em;
    background-color: var(--rosa);
    font-weight: 650;
    width: 100px;
    padding: 8px 5px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    margin-top: 5px;
    align-self: center;
}

/* Cabeçalho */
header {
    height: 100px;
    background-color: rgb(253, 145, 186);
    padding: 0 30px;
}

header .container {
    max-height: 100px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    position: fixed;
    top: 100px;
    right: -100%;
    height: 50vh;
    transition: all 1.0s;
    padding: 0;
    text-align: right;
}

#check:checked~ul {
    right: 0px;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5);
    /* 0.5 = 50% transparência (0 a 1 = 100%) */
}



nav ul li {
    padding: 15px 20px;
    border-bottom: 5px solid var(--rosa);
}

nav ul li a {
    color: var(--preto);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Banner */
main {
    height: 60vh;
    background: url(img/jogo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    color: var(--branco);
    /* text-shadow: #000 0.5em 0.5em 0.5em;*/
}

main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

/* Seção de Destaque */
#destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 50px 15px;
    flex-direction: column;
    background-color: #eb8baf;
    /* Ajuste inicial padrão */
}

#ImagemDestaque {
    width: 40%;
    overflow: hidden;
    border-radius: 50%;
}

#ImagemDestaque img {
    width: 100%;
    object-fit: cover;
}

#TextoDestaque {
    width: 50%;
    color: var(--branco);
    text-align: center;
}

#TextoDestaque h2 {
    margin-bottom: 20px;
}

#TextoDestaque p {
    margin-bottom: 15px;
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
}

.topicos img {
    margin-right: 10px;
}

.topicos p {
    font-weight: 600;
}

#sobre .container {
    flex-direction: row;
    align-items: center;

}

#video iframe {
    margin: 0px;
    background-attachment: fixed;
}

#sobre h2,
p {
    color: var(--branco);
}

#sobre h2 {
    margin-bottom: 10px;
    text-shadow: none;
}

#faixaDestaque {
    display: flex;
    justify-content: center;
    background-color: #eb8baf;
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
}

#faixaDestaque .container {
    flex-direction: column;
}

#textoFaixa h2 {
    color: var(--branco);
    margin-bottom: 15px;
}

#textoFaixa p {
    margin-bottom: 50px;

}

#imagemFaixa img {

    height: 300px;
    width: 300px;

}

/* Layout para 3 cartões */
.card {
    width: 338px;
    height: 520px;
    margin-top: 25px;
    background-color: var(--cinza);
    border: 1px solid var(--rosachoque);
    border-radius: 25px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h3 {

    margin-top: 15px;

}

.card p {
    text-align: justify;
    padding: 10px 30px 50px 30px;
    font-size: 13px;

}

.card a {
    padding: 10px 100px;
    border: 0;
    background-color: var(--rosachoque);
    color: var(--azulEscuro);
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Estilo Geral do Rodapé */
#contato {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

#contato .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Contato */
.contato-contato h2,
.contato-redes h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.rodape-contato .contato-item,
.rodape-redes .social-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

.rodape-contato img,
.rodape-redes img {
    width: 30px;
    height: 30px;
}

.rodape-contato a,
.rodape-redes a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.rodape-contato a:hover,
.rodape-redes a:hover {
    color: #00acee;
    /* Cor de destaque no hover */
}

/* Redes Sociais */
.rodape-redes .social-icons p {
    font-size: 1rem;
    margin: 0;
}

/* Botão "Topo" */
.rodape-topo a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.rodape-topo a:hover {
    color: #00acee;
}

.rodape-topo img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

footer {
    background-color: #222;
}

footer .container {
    flex-direction: column;
}

#redesocial {
    margin-right: 200px;
    padding-top: 10px;
}

/* Fim do Layout <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/****** Cabeçalho ******/
@media (max-width: 767px) {
    #destaque {
        flex-direction: column;
        text-align: center;
    }

    #destaque .container {
        flex-direction: column;
        align-items: center;

    }

    #ImagemDestaque {
        margin-bottom: 20px;
        width: 60%;
    }

    #sobre .container {
        flex-direction: column;
    }

    #sobre {
        padding: 50px 15px;
    }

    #sobre h2,
    p {
        color: var(--branco);
    }

    #sobre h2 {
        font-size: 80px;
        margin-bottom: 20px;
    }

    #video iframe {
        width: 340px;
        height: 191px;
        margin-top: 20px;
    }

    #TextoDestaque {
        width: 90%;
    }

    /****** Seção de conteúdo (cards) ******/
    #conteudo {
        padding: 50px 0px;

    }

    #conteudo .container {
        flex-direction: column;
        align-items: center;
    }

    #conteudo h2 {
        color: var(--rosachoque);
        margin-bottom: 25px;

    }

    #todos {
        color: var(--rosachoque);
        margin-top: 50px;
        text-decoration: none;
        font-size: 1.25em;
        font-weight: 700;
    }
    
    #redesocial {
        margin-left: 85px;
        padding-top: 10px;
        
    }
    

    .containerCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

   
    }

}

/* Fim | Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 596px) {

    /****** Layout ******/
    .container {
        max-width: 540px;
        /* background-color: #ffff00;*/
    }

    /****** Cabeçalho ******/
    nav ul {
        right: -25%;
        width: 25%;
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }

    /****** destaque ******/
    #destaque .container {
        flex-direction: row;
    }

    #imagemDestaque {
        margin-right: 50px;
    }

    #imagemDestaque img {
        width: 256px;
        height: 256px;
    }

    /****** Sobre ******/
    #video iframe {
        width: 560px;
        height: 315px;
    }
}

/* Fim | Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>*/

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) and (max-width: 991px) {
    #destaque {
        flex-direction: column;
        text-align: center;
    }

    #ImagemDestaque {
        margin-bottom: 20px;
        width: 60%;
    }

    #TextoDestaque {
        width: 90%;
    }

    #sobre .container {
        flex-direction: row;
        align-items: center;

    }

    #video iframe {
        margin: 10px;
        background-attachment: fixed;
    }


    #sobre h2,
    p {
        font-size: 16px;
        color: var(--branco);
        padding: 5px 50px;


    }

    #sobre h2 {
        font-size: 75px;
        margin-bottom: 15px;
        text-shadow: none;

    }

    #video iframe {
        width: 385px;
        height: 215px;
        margin-top: 20px;
    }

 
    /****** Seção de conteúdo - cards ******/
    .card {
        margin: 25px 10px 0px 10px;
    }
      /* Seção Destaque */

      #conteudo .container {
        flex-direction: column;
        margin-right: 20px;
        padding-bottom: 30px;
        margin-left: 100px;

    }

    #conteudo .containerCards {
        gap: 20px;
        padding-bottom: 30px;
    }
}


/* Fim | Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) and (max-width: 1199px) {
    #destaque {
        flex-direction: row;
    }

    #ImagemDestaque {
        width: 40%;
        margin-right: 50px;
    }

    #TextoDestaque {
        width: 50%;
        text-align: left;
        margin-left: -60px;
    }

    #sobre .container {
        flex-direction: row;
        align-items: center;

    }

    #video iframe {
        margin: 0px;
        background-attachment: fixed;
    }


    #sobre h2,
    p {
        font-size: 16px;
        color: var(--branco);
        padding: 5px 100px;


    }

    #sobre h2 {
        font-size: 70px;
        margin-bottom: 10px;
        text-shadow: none;
        padding: 0px 50px;

    }

    #video iframe {
        width: 455px;
        height: 275px;
        margin-top: 20px;
    }

}

/* Fim | Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /*cabeçalho */
    header {
        height: 80px;
        /*Altura*/

    }

    #logo img {
        width: 1000px;
        /*Largura*/
        height: 1000px;
        /*Altura*/
    }

    .container {
        max-width: 1140px;
        /*Tamanho max */
        /* background-color: #FFA500; Cor*/


    }

    /*transformaçã do menu*/
    label {
        display: none;
    }


    nav ul {

        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
        /*remover a cor do background-color*/

    }

    nav ul li {
        float: left;
        border: 0;

    }

    nav ul li a {
        color: var(--azul);
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }

    /*Ajuste do banner*/
    main h1 {
        font-size: 7.5em;
    }

    #destaque {
        background-attachment: fixed;
        flex-direction: row;
    }

    #ImagemDestaque {
        width: 40%;
    }

    #TextoDestaque {
        width: 50%;
        margin-left: -60px;
    }

    /***** Faixa de destaque ******/
    #faixaDestaque {
        background-attachment: fixed;
    }

    #faixaDestaque .container {
        flex-direction: row-reverse;
        align-items: center;
    }

    #imagemFaixa img {
        width: 200px;
        height: 200px;
    }

    /* Seção Destaque */

    #conteudo .container {
        flex-direction: column;
        margin-right: 20px;
        padding-bottom: 30px;
        margin-left: 100px;

    }


    #conteudo .containerCards {
        gap: 20px;
        padding-bottom: 30px;
    }

    #redesocial {
        margin-left: 85px;
        padding-top: 10px;
    }

}

/* Fim | PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Telas FullHD e SmartTV */
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }

    #sobre .container {
        flex-direction: row;
        align-items: center;

    }

    #video iframe {
        margin: 0px;
        background-attachment: fixed;
    }


    #sobre h2,
    p {
        font-size: 16px;
        color: var(--branco);
        padding: 0px 50px;


    }

    #sobre h2 {
        font-size: 100px;
        margin-bottom: 10px;
        text-shadow: none;

    }

    #video iframe {
        width: 560px;
        height: 315px;
        margin-top: 20px;
    }

    header {
        height: 100px;
    }

    #ImagemDestaque {
        width: 50%;
    }

    #TextoDestaque {
        width: 50%;
    }

}

/* Fim | Telas Grandes (FullHD / 4K / SmartTV) >>>>>*/
